*{      
    color: black;
    font-family: 'Sofia', cursive;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex; /* flex || inline-flex */
    background-color:silver;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 1200px;
    align-items: center;
    gap: 30px;
}
.flex-container1 {
    display: flex; /* flex || inline-flex */
    background-color:silver;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 1200px;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
}
.image-content {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.image-content .img {
    width: 100%;
    height: 200%;
}
.img {
    width: 100%;
    height: 200px;
}
.main { 
    width: 1200px;
    margin: 0 auto;
}
.menu {
    color: white;
    text-transform: uppercase;
    margin: 10px;
    text-decoration-line: none;    
}
.article {
    background-color: white;
    border-radius: 10px;
    border: thin;
    width: 30%;
    height: 400px;
    box-shadow: 5px 5px 5px 5px gray;
    transition-property: background-color;
    transition-duration: 500ms;
}
.article :hover {
    background-color: gray;
    animation-name: shake;
    animation-duration: 3s;
}
@keyframes shake {
    0% {
        transform: rotateY(30deg);
    }
    20% {
        transform: rotateY(-30deg);
    }
    40% {
        transform: rotateY(30deg);
    }
    60% {
        transform: rotateY(-30deg);
    }
    80% {
        transform: rotateY(30deg);
    }
    100% {
        transform: rotateY(-30deg);
    }
}
.figure :hover {
    background-color: gray;
}
.figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    height: 100%;
    align-items: center;
    border-radius: 10px;
}
.figcaption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.figcaption * {
    margin: 0px;
}

@media screen and (max-width: 1200px) {
    .article {
    width: 48%;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    * {
        font-size: 97%;
    }
    .article {
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .flex-container {
        width: 120%;
        display: flex;
        flex-direction: column;
        
    }
    .fire {
        width: 80%;
        height: 80%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        font-size: 70%;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    * {
        font-size: 96%;
    }
    .main {
        width: 70%;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .article {
        width: 70%;
    }
    .menu {
        font-size: 59%;
    }
}